html {
    font-family: 'courier';
}

body {
    background-image: url(../img/bakcground.jpg);
    background-repeat: repeat;
}

.container {
    padding-bottom: 5vh;
}

label {
    font-weight: bold;
}

.img {
    width: 400px;
    /* float: right; */
    margin-right: 20px;
}

.book-title {
    font-style: italic;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#poem-container {
    width: 100%;
}

#poem, #poem-title, #poem-ins {
    text-align: center;
}

table, th, td {
    border: solid 1px black;
    text-align: start;
    vertical-align: text-top;
}

th, td {
    width: 100px;
}

#math {
    background-color: blue;
}

#english {
    background-color: green;
}

#cs2550 {
    background-color: yellow;
}

#cs1400 {
    background-color: red;
}